@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SOLARIS";
    src: url("../public/fonts/Solaris.otf");
  }
  @font-face {
    font-family: "CALIFORNIA";
    src: url("../public/fonts/California.otf");
  }

  .background-image {
    background-image: url('../public/assets/woodenBg.webp'); /* Ruta relativa desde el directorio público */
  }

  .menu,
  .scores {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(6px);
    transition: all 1s ease-in-out;
  }
  
  /* FADE IN ANIMATION */
  .menu:not(.menu--hidden),
  .scores:not(.scores--hidden) {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .menu--hidden,
  .scores--hidden {
    opacity: 0;
    pointer-events: none;
  }

